version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: eso_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=esodesafio
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  api:
    container_name: eso_api
    build:
      context: ./api
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://postgres:docker@db:5432/esodesafio
      - NODE_ENV=development
    volumes:
      - ./api:/app
    depends_on:
      - db

  client:
    container_name: eso_client
    build:
      context: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true

volumes:
  postgres_data: